/* main body settings */
body {
  background-color:black;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 4vmin;
  right: 27%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
}

/* #image-trackimage {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
} */ */

.image2 {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

/* animation for each 'card' (the images in the track) */
/* @keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
} */

.hidden {
  opacity: 0;
  transform: scale(0.3);
}
.show {
  opacity: 1;
  transform: scale(1);
}

.image {
  transition: transform .2s, box-shadow .2s; /* hover animation */
  animation: cardEntrance 300ms ease-out; /* intro animation time */
  animation-fill-mode: backwards;
}

/* delay settings for stagger effect */
/* add more nth childs for more images */
.image:nth-child(1) {
  /* transition-delay: calc(1 * var(--stagger-delay)); */
  transition-delay: 100;
}
.image:nth-child(2) {
  /* transition-delay: calc(2 * var(--stagger-delay)); */
  transition-delay: 200;
}
.image:nth-child(3) {
  /* transition-delay: calc(3 * var(--stagger-delay)); */
  transition-delay: 300;
}
.image:nth-child(4) {
  /* transition-delay: calc(4 * var(--stagger-delay)); */
  transition-delay: 400;
}
.image:nth-child(5) {
  /* transition-delay: calc(5 * var(--stagger-delay)); */
  transition-delay: 500;
}
.image:nth-child(6) {
  /* transition-delay: calc(6 * var(--stagger-delay)); */
  transition-delay: 600;
}
.image:nth-child(7) {
  /* transition-delay: calc(7 * var(--stagger-delay)); */
  transition-delay: 700;
}
.image:nth-child(8) {
  /* transition-delay: calc(8 * var(--stagger-delay)); */
  transition-delay: 800;
}

/* when hovering over image... do this: */
.image:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 100px 1em black;
  /* box-shadow: 0px 0px 50px 5px #00008B; */ /* dark blue */
}

/* home page grid settings */
.home-grid {
  display: grid;
  gap: 1rem;

  grid-template-rows: auto;
  grid-template-columns: minmax(auto, 100%);

  /* background-color: #2196F3; */
  /* padding: 10px; */

  /* page layout for the grid */
  grid-template-areas:
    'navigation'
    'middleTitle'
    'image-scroll';

  --stagger-delay: 50ms; /* the delay between each card */
}

/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
} */

/* css grid names & classes (easy alignment)*/
.middleTitle {
  grid-area: middleTitle;
}

.image-scroll {
  grid-area: image-scroll;
}

.navigation {
  grid-area: navigation;
}

/* my stuff -- aashray */

.topnav {
  width: 100%;
  top: 0%;
  left: 0%;
  /* filter: blur(4px); */
  background-color: rgba(0, 0, 0);
  overflow: visible;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-right {
  float: right;
}

/* Change the color of links on hover */
.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
/* .topnav a.active 
{
  background-color: #04AA6D;
  color: white;
} */
/* Style for drop down  menu */

/* horizonal line light */
hr.hr-dk {
  color: rgba(33, 33, 33, 1);
  border: 2px;
}

/* footer & header */
footer,
header {
  background-color: rgba(187, 183, 175, 1);
  padding: 10px;
  text-align: center;
  color: rgba(33, 33, 33, 1);
  font-family: "Source Sans Pro", sans-serif;
}


/* ---{titles}--- */

/* title-big */
.homeTitle {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Lato", sans-serif;

  /* overflow: auto; */
}

/* title-big */
.titleBig {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  padding: 5px;
  font-family: "Lato", sans-serif;
}

/* subtitle 1 */
.subtitle {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Lato", sans-serif;
}


/* ---{light text}--- */

/* large-light-title */
.largeLightTitle {
  color: rgba(187, 183, 175, 1);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.44;
}

/* light-title */
.lightTitle {
  font-family: "Lato", sans-serif;
  /*fontsize: 26px;*/
  font-weight: 400;
  line-height: 1.56;
  color: rgba(187, 183, 175, 1);
}

/* small-light-text */
.smallLightText {
  color: rgba(187, 183, 175, 1);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.75;
  /* padding-top: 16px; */
}

.smallerLightText {
  color: rgba(187, 183, 175, 1);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.75;
  padding-top: 12px;
}

/* ---{dark text}--- */

/* large-dark-title */
h1.largeDarkTitle {
  color: rgb(0, 0, 0);

  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.44;


  position: absolute;
  top: 50%;
  text-size-adjust: auto;
  text-align: center;
  width: 100%;
  block-size: fit-content;
}

/* dark-title */
.darkTitle {
  color: rgba(33, 33, 33, 1);
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.56;
}

/* small-dark-text */
.smallDarkText {
  color: rgba(33, 33, 33, 1);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.75;
  padding-top: 16px;
}

/* og stuff */




.dropdown {
  float: left;
  overflow: visible;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

a.getStarted {

  text-decoration: none;
  border: 3px solid rgba(33, 33, 33, 1);
  text-align: center;
  padding: 10px;

  position: absolute;
  top: 70%;
  left: 50%;
  border-radius: 16px;

  color: rgba(33, 33, 33, 1);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.75;
}